@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
    overflow-x: hidden;
}
:root{
    --dark:#553E4E;
    --bri:#E0479E;
    --hover:#FFAFC5;
    --bg:#FFCFD2;
    --gray:#393939;
}
body{
    background-color: var(--bg);
    font-family: 'Montserrat', sans-serif;;
}
/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px;
    border-radius: 5px;
    gap: 20px;
    text-align: center;
}
.title-container{
    text-decoration: underline solid var(--gray);
}
.text-container{
    font-weight: 700;
}
/* form */
.container-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
/* inputs */
input{
    align-self: center;
    background-color: var(--hover);
    border-style: none;
    padding: 7px;
    width: 150px;
    border-radius: 5px;
    transition: all .2s ease;
}
input:focus{
    padding: 15px;
    width: 250px;
}
/* btn */
.btn{
    align-self: center;
    background-color: var(--bg);
    border-style: none;
    padding: 7px;
    width: 100px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 1em;
    transition: all .2s ease;
}
.btn:hover{
    background-color: var(--hover);
    transform: scale(1.2);
}